
		<div id="cart-div">
			<h4>Shopping Cart</h4><br>
		   	<table id="cart-table"> 
				<tr>
		  			<th>Beer</th>
					<th>Type</th>
					<th>Unit</th>
					<th>Price</th>
					<th>Quantity</th>
				</tr>
				<tr>
		  			<td>Devoir</td>
					<td>Saison Ale</td>
					<td>Keg</td>
					<td>$89.99</td>
					<td>5</td>
				</tr>
				<tr>
		 			<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>Bottles (6)</td>
					<td>$6.99</td>
					<td>20</td>
				</tr>
				<tr>
		 			<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>Bottles (12)</td>
					<td>$12.99</td>
					<td>10</td>
	   			</tr>
	   			<tr>
		   			<td>P·2</td>
	   				<td>Belgian Pale Ale</td>
	   				<td>Keg</td>
	   				<td>$89.99</td>
	   				<td>3</td>
	   			</tr>
	   		</table>

	   		<div class="total" align="right">
	   			<p>Subtotal: $500.00</p>
	   			<p>Tax: $48.00</p>
	   			<p><b>Total: $548.00</b><p>
	   		</div>
	   	</div>

		<br><br><br><br>
		<a class="view-cart-button" href="javascript:void(0)" onclick="getOrderPage();">&lt;&lt;Back</a> &nbsp;&nbsp;&nbsp;
		<a class="view-cart-button" href="javascript:void(0)" onclick="buildCheckoutPage();">Check Out >></a>

		<script type="text/javascript">
      		displayTable("cart-table");
  		</script>


								
   
