
		<div class="col-xs-12">
			<h4>Shopping Cart</h4><br>
		   	<table id="cart-table"> 
		   		<thead>
					<tr>
			  			<th>Beer</th>
						<th>Type</th>
						<th>Unit</th>
						<th>Price</th>
						<th>Quantity</th>
						<th class="nosort">&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					{{#lines}}
					<tr id="line_{{line_id}}">
			  			<td>{{product_code}}</td>
						<td>{{product_description}}</td>
						<td>{{unit_description}}</td>
						<td class="price">${{price}}</td>
						<td class="quantity">{{quantity}}</td>
						<td align="center"><a class="cart-link link" href="javascript:void(0)" onclick="deleteLine({{line_id}})">Delete</a></td>
					</tr>
					{{/lines}}
				</tbody>
	   		</table>
	   	</div>

	   	<!-- spacing -->
	   	<div class="col-xs-12">
	   		&nbsp;
	   	</div>

	   	<div class="col-xs-12">
	   		<div class="col-xs-4 col-md-2 pull-right">
		   		<hr>
	   			<p class="order-total"><b>Total: $<span id="total-price">{{total_price}}</span></b><p>
	   		</div>

	   		<div class="col-xs-2 col-md-1">
				<a class="btn btn-primary" href="javascript:void(0)" onclick="getOrderPage();">Back</a> 
			</div>
			<div class="col-xs-2 col-md-1">
				<a class="btn btn-primary" href="javascript:void(0)" onclick="buildCheckoutPage();">Check Out</a>
			</div>
		</div>
		