<form role="form" class="col-xs-12 text-center">
	<div class="form-group">
		<label for="email">Confirmation email:</label>
		<input type="text" name="email" onblur="validateEmail(this)" id="email"/>
	</div>

	<div class="form-group">
		<label for="comments">Order comments:</label>
		<textarea rows="6" columns="150" id="comments" name="comments"></textarea>
	</div>

	<!-- spacing -->
	<div class="col-xs-12">&nbsp;</div>
	
	<div class="col-xs-12">
		<a class="btn btn-primary" href="javascript:void(0)" onclick="getCart();">Back</a>
		<a class="btn btn-primary" href="javascript:void(0)" onclick="submitOrder();">Place Order</a>
	</div>
</form>