<div class="col-xs-12">
	<p>Enter your email below and we will email you instructions to set a new password.</p>

	<form role="form">
		<div class="form-group">
			<div class="col-xs-1">
				<label for="email">Email</label>
			</div>
			<input type="text" id="email" onblur="validateEmail(this)"/>
		</div>

		<!-- spacing -->
		<div class="col-xs-12">&nbsp;</div>
		<div class="col-xs-1">&nbsp;</div>

		<a class="btn btn-primary" href="javascript:void(0)" onclick="location.reload()">Back</a>
		<a class="btn btn-primary" href="javascript:void(0)" onclick="forgotPasswordSubmit();">Submit</a>
	</form>
</div>



								