<div id="push-list-div">
   <h4>Today's hot brews!</h4><br>
   <table id="push-list-table" class="dataTable"> 
      <tr>
         <th>Beer</th>
         <th>Type</th>
         <th>ABV</th>
         <th>IBUs</th>
         <th>Availability</th>
         <th>&nbsp;</th>
      </tr>
      <tr>
         <td>Devoir</td>
         <td>Saison Ale</td>                     
         <td>4.3%</td>
         <td>25</td>
         <td>On tap, growlers</td>
         <td><a href="http://penrosebrewing.com/beer/detail/devoir" class="detail-link" target="_blank">Details</a></td>
      </tr>
      <tr>
         <td>P·2</td>
         <td>Belgian Pale Ale</td>
         <td>5.4%</td>
         <td>45</td>
         <td>On tap, growlers</td>
         <td><a href="http://penrosebrewing.com/beer/detail/p2" class="detail-link" target="_blank">Details</a></td>
      </tr>
      <tr>
         <td>Desirous</td>
         <td>White IPA</td>
         <td>6.2%</td>
         <td>60</td>
         <td>On tap, growlers</td>
         <td><a href="http://penrosebrewing.com/beer/detail/desirous" class="detail-link" target="_blank">Details</a></td>
      </tr>
      <tr>
         <td>Fractal</td>
         <td>Belgian IPA</td>
         <td>6.5%</td>
         <td>65</td>
         <td>On tap, growlers</td>
         <td><a href="http://penrosebrewing.com/beer/detail/desirous" class="detail-link" target="_blank">Details</a></td>
      </tr>
   </table>
</div>

<div id="announcements" class="main-div">
   <h4>Announcements</h4>
   <p>This is a test announcement on the main landing page. Welcome to E-Commerce!</p>
</div>

<div class="main-div" id="order-div">
   <a href="javascript:void(0)" onclick="getDeliveryOptions()" class="order-button">New Order</a>
</div>   