   <div id="order-div">
	   	<table id="order-table"> 
	   		<thead>
   				<tr>
		   			<th>Order Number</th>
   					<th>Delivery Date</th>
   					<th>Delivery Method</th>
   					<th>Total Amount</th>
   				</tr>
   			</thead>
   			<tbody>
   				<tr>
		   			<td><a href="javascript:void(0)" onclick="getOrderDetail(this.innerHTML)" class="detail-link">12345</a></td>
   					<td>01/18/2016</td>
   					<td>Delivery</td>
   					<td>$189.23</td>
   				</tr>
   				<tr>
		   			<td><a href="javascript:void(0)" onclick="getOrderDetail(this.innerHTML)" class="detail-link">54321</a></td>
   					<td>01/19/2016</td>
   					<td>Delivery</td>
   					<td>$56.88</td>
   				</tr>
   				<tr>
		   			<td><a href="javascript:void(0)" onclick="getOrderDetail(this.innerHTML)" class="detail-link">24680</a></td>
				      <td>01/20/2016</td>
					   <td>Pickup</td>
					   <td>$125.15</td>
				   </tr>
	  		   </tbody>
		   </table>
	</div>
   <script type="text/javascript">
      displayTable("order-table");
   </script>


