<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>B2B Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/sb-admin.css" rel="stylesheet">
    <link href="css/plugins/morris.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/dataTables.min.css" rel="stylesheet" type="text/css">
    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="dialog" title="Add Line"></div>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">brewCom</a>
            </div>
           
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse hidden" id="main-nav">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="javascript:void(0)" onclick="getOrderList();"><i class="fa fa-fw"></i>Orders</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="getCustomerList();"><i class="fa fa-fw"></i>Customers</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="getProductList();"><i class="fa fa-fw"></i>Products</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="getSettings();"><i class="fa fa-fw"></i>Settings</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">
                <div id="main-content">
                    <div class="col-xs-12">&nbsp;</div>
                    <div class="col-xs-12">&nbsp;</div>
                    <div class="col-xs-12">&nbsp;</div>

                    <form role="form" class="col-xs-6 text-center">
                        <div class="form-group">
                            <label for="username">Username: </label> 
                            <input type="text" name="username" id="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password: </label>
                            <input type="password" name="password" id="password">
                        </div>

                        <div class="col-xs-12">&nbsp;</div>
                        
                        <div class="col-xs-12">
                            <input class="btn btn-primary" type="button" onclick="verifyLogin();" value="Submit">               
                        </div>
                        
                    </form>

                    <div class="col-xs-12">&nbsp;</div>
                    <div class="col-xs-12">&nbsp;</div>
                    <div class="col-xs-12">&nbsp;</div>
                    <div class="col-xs-12">&nbsp;</div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


    <script src="js/jquery.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/dataTables.min.js"></script>
    <script src="js/handlebars.min.js"></script>
    <script src="js/template_controller.js"></script>
    <script src="js/site.js"></script>

    <script id="entry-template" type="text/x-handlebars-template">
        <p>Choose a product to add:</p>
        <select id="product-list">
            {{#each products}}
            <option value="{{product_id}}">{{product_desc}}</option>
            {{/each}}
        </select>
        
        <br><br>
        
        <button class="btn btn-primary" onclick="addProduct()">Add</button>
        <button class="btn btn-primary" onclick="$('#dialog').dialog('close');">Cancel</button>
    </script>

    <script type="text/javascript">
        var showTables = function() {
            $(".dtable").each(function(i, obj) {
                if (! $.fn.DataTable.fnIsDataTable(obj)){
                    $(this).dataTable();                    
                }
            });
        }

        $(document).ready(function () {
            $("#dialog").dialog({
                autoOpen: false
            });

            $('#main-content').bind('DOMNodeInserted', showTables);
                
            if (sessionExists()){
                verifyLogin();
            }
        });
    </script>

</body>

</html>
