
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Order Search
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="text-left">
                        <a href="javascript:void(0)" onclick="getOpenOrders()" class="back-button">Back <i class="fa fa-arrow-circle-left"></i></a>
                    </div>
                    
                    <br><br>

                    <div class="col-lg-3">

                        <div class="form-group">
                                <label>Customer Code</label>
                                <input class="form-control">

                                <br><br><br>

                                <div class="col-lg-6" style="padding-left: 0px;">
                                    <label>Start delivery date</label>
                                    <input class="form-control">
                                </div>

                                <div class="col-lg-6" style="padding-left: 0px;">
                                    <label>End delivery date</label>
                                    <input class="form-control">
                                </div>
                                <p class="help-block">Format MM/DD/YYYY. Example: 03/24/2016.</p>

                                <br><br>

                                <label>Delivery Type</label>
                                <select class="form-control">
                                    <option>All</option>
                                    <option>Delivery</option>
                                    <option>Pickup</option>
                                </select>

                                <br><br><br>


                                <label>Order Status</label>
                                <label class="checkbox-inline first-checkbox">
                                    <input type="checkbox">Open
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox">Shipped
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox">Void
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox">Test
                                </label>

                                <br><br><br><br>

                                <div class="col-lg-6" style="padding-left: 0px;">
                                    <label>Minimum order total</label>
                                    <input class="form-control">
                                </div>

                                <div class="col-lg-6" style="padding-left: 0px;">
                                    <label>Maximum order total</label>
                                    <input class="form-control">
                                </div>
                            </div>

                            <br><br><br><br><br>

                            <button type="submit" class="btn btn-default" onclick="searchOrders()">Submit</button>
                            <button type="reset" class="btn btn-default">Reset</button>
                    </div>
                </div>
                <!-- /.row -->

 