<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Order {{orderNumber}}
        </h1>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="text-left">
        <a href="javascript:void(0)" onclick="loadOrderSearch()">Search Orders</a>
        <br><br>
        <a href="javascript:void(0)" onclick="getOpenOrders()">Open Orders</a>
    </div>
</div>
                    
    <br><br>

<div class="row">
    <div class="col-lg-3">
        <div class="form-group">
            <label>Bill To</label>
            <p class="form-control-static">{{billToName}}</p>
            <p class="form-control-static">{{billToAddressOne}}</p>
            <p class="form-control-static">{{billToAddressTwo}}</p>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label>Ship To</label>
            <p class="form-control-static">{{shipToName}}</p>
            <p class="form-control-static">{{shipToAddressOne}}</p>
            <p class="form-control-static">{{shipToAddressTwo}}</p>
        </div>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-lg-3">
        <div class="form-group">
                <label>Status</label>
                <select class="form-control">
                    <option>Open</option>
                    <option>Shipped</option>
                    <option>Void</option>
                </select>
                <br><br>
                <label>Delivery Date</label>
                <input class="form-control" value="{{deliveryDate}}">
                <p class="help-block">Format MM/DD/YYYY. Example: 03/24/2016.</p>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label>Delivery Method</label>
            <select class="form-control">
                <option>Delivery</option>
                <option>Pickup</option>
            </select>
            <br>
            <label>Total Amount</label>
            <p class="form-control-static">${{orderTotal}}</p>
        </div>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-lg-3">
        <div class="form-group">
            <label>Shipping Comments</label>
            <textarea class="form-control" rows="5">{{shippingComments}}</textarea>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label>General Comments</label>
            <textarea class="form-control" rows="5">{{generalComments}}</textarea>
        </div>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Order Lines</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="orders-table" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Product Code</th>
                                <th>Product Description</th>
                                <th>Unit</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Total</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#lines}}
                            <tr id="productline_{{id}}">
                                <td>{{product}}</td>
                                <td>{{desc}}</td>
                                <td>{{unit}}</td>
                                <td class="amount"><input id="quantity_{{id}}" onblur="updateLine({{id}})" class="amount" type="text" value="{{orderQuantity}}" size="4"/></td>
                                <td class="amount">$<input id="price_{{id}}" onblur="updateLine({{id}})" class="amount" type="text" value="{{unitPrice}}" size="5"/></td>
                                <td class="amount" id="total_{{id}}">$&nbsp;{{totalLineAmount}}</td>
                                <td class="remove-link"><a href="#" onclick="removeLine({{id}})">Remove</a></td>
                            </tr>
                            {{/lines}}
                        </tbody>
                    </table>
                    <br><br>
                    <button class="btn btn-default" onclick="javascript:void(0)">Update Quantities</button>
                    <button type="reset" class="btn btn-default" onclick="javascript:void(0)">Reset Fields</button>
                </div>
            </div>
        </div>                    
    </div>
</div>
<script>
    displayTable("orders-table");
</script>

