<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Order #{{orderId}}
        </h1>
        <p class="hidden" id="user_id">{{userId}}
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-1">
        <a class="btn btn-default" href="javascript:void(0)" onclick="loadSearch('order')">Search Orders</a>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-1">
        <a class="btn btn-default" href="javascript:void(0)" onclick="getHeaderList('order')">Open Orders</a>
    </div>
</div>
                    
    <br><br>

<div class="row">
    <div class="col-lg-3">
        <div class="form-group">
            <label>Bill To</label>
            <p class="form-control-static">
                <input id="bill_to_name" class="form-control" value="{{billToName}}">
            </p>
            <p class="form-control-static">
                <input id="bill_to_addr1" class="form-control" value="{{billToAddressOne}}">
            </p>
            <p class="form-control-static">
                <input id="bill_to_addr2" class="form-control" value="{{billToAddressTwo}}">
            </p>
            <p class="form-control-static">
                <input id="bill_to_city" class="form-control" value="{{billToCity}}">
            </p>
            <p class="form-control-static">
                <input id="bill_to_state" class="form-control" value="{{billToState}}">
            </p>
            <p class="form-control-static">
                <input id="bill_to_zip" class="form-control" value="{{billToZip}}">
            </p>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label>Ship To</label>
            <p class="form-control-static">
                <input id="ship_to_name" class="form-control" value="{{shipToName}}">
            </p>
            <p class="form-control-static">
                <input id="ship_to_addr1" class="form-control" value="{{shipToAddressOne}}">
            </p>
            <p class="form-control-static">
                <input id="ship_to_addr2" class="form-control" value="{{shipToAddressTwo}}">
            </p>
            <p class="form-control-static">
                <input id="ship_to_city" class="form-control" value="{{shipToCity}}">
            </p>
            <p class="form-control-static">
                <input id="ship_to_state" class="form-control" value="{{shipToState}}">
            </p>
            <p class="form-control-static">
                <input id="ship_to_zip" class="form-control" value="{{shipToZip}}">
            </p>
        </div>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
                <label>Status</label>
                <select id="status" class="form-control">
                    <option>{{status.current}}</option>
                    {{#each status.options}}
                    <option>{{this}}</option>
                    {{/each}}
                </select>
                <br><br>
                <label>Delivery Date</label>
                <input class="form-control" onblur="validateDate(this)" id="delivery_date" value="{{deliveryDate}}">
                <p class="help-block">Format YYYY-MM-DD. <br> Example: 2016-03-24.</p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label>Delivery Method</label>
            <select id="delivery_method" class="form-control">
                <option>{{deliveryMethod.current}}</option>
                {{#each deliveryMethod.options}}
                <option>{{this}}</option>
                {{/each}}
            </select>
            <br><br>
            <label>Total Amount</label>
            <input id="total_amount" class="form-control" value="{{totalAmount}}">
        </div>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-lg-3">
        <div class="form-group">
            <label>Shipping Comments</label>
            <textarea class="form-control" id="shipping_comments" rows="5">{{shippingComments}}</textarea>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label>General Comments</label>
            <textarea class="form-control" id="comments" rows="5">{{comments}}</textarea>
        </div>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-lg-12">
                <h3>Order Lines</h3>
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Product Code</th>
                                <th>Product Description</th>
                                <th>Unit</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Total</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody id="lines">
                            {{#lines}}
                            <tr id="{{line_id}}">
                                <td id="code_{{line_id}}">{{product_code}}</td>
                                <td id="desc_{{line_id}}">{{product_description}}</td>
                                <td id="unit_{{line_id}}">{{unit_code}}</td>
                                <td class="amount">
                                    <input id="quantity_{{line_id}}" onblur="updateLine({{line_id}})" class="amount" type="text" value="{{quantity}}" size="4"/>
                                </td>
                                <td class="amount">
                                    $<input id="price_{{line_id}}" onblur="updateLine({{line_id}})" class="amount" type="text" value="{{unit_price}}" size="5"/>
                                </td>
                                <td class="amount">
                                    $&nbsp;<span id="total_{{line_id}}">{{line_price}}</span>
                                </td>
                                <td class="remove-link">
                                    <a href="#" onclick="removeLine({{line_id}})">Remove</a>
                                </td>
                            </tr>
                            {{/lines}}
                        </tbody>
                    </table>
                    <br><br>
                    <button class="btn btn-primary" onclick="updateOrder()">Save Changes</button>
                    <button type="reset" class="btn btn-primary" onclick="javascript:void(0)">Reset Fields</button>                   
    </div>
</div>
<script>
    displayTable("orders-table");
</script>

