
	   	<div id="cart-div">
	 		<div style="display: inline-block;">
	   			<p>Confirmation email:</p>
	   		</div>
			<div align="left" style="display: inline-block;">
				<input type="text" size="30" onblur="validateEmail(this)"/>
			</div>
			<br>
			<div style="display: inline-block;">
				<p>Order Comments: </p>
			</div>
			<div align="left" style="display: inline-block;">
				<textarea rows="10" columns="150"></textarea>
			</div>
		</div>

		<br><br><br><br>
		<a class="view-cart-button" href="javascript:void(0)" onclick="buildCart();">&lt;&lt;Back</a>&nbsp;&nbsp;&nbsp;
		<a class="view-cart-button" href="javascript:void(0)" onclick="submitOrder();">Place Order</a>
