.link {
	font-weight: italics;
	font-size: 12px;
	text-decoration: underline;
}

.cart-link, .order-link {
	font-size: 16px;
}

#login-info {
	margin-top: 5%;
}

h1, h2, h3, h4 {
	text-align: center;
}

hr {
	border-top: 1px solid black;
}

.price, .quantity {
	text-align: right;
}

.quantity-field {
	width: 15%;
}

textarea {
	width: 50%;
	height: 3%;
}

@media screen and (min-width: 480px) {
	#login-info {
		margin-top: 0%;
	}
}

@media screen and (min-width: 1000px) {
	textarea {
		width: 20%;
	}
}
